{% extends 'base.html' %}

{% block title %}
{{post.title}}
{% endblock %}
{% block content%}
    <article>
        <div class="post-container">
            {% if post.thumbnail %}
                <div class="post-img">
                     <img src="{{post.thumbnail.url}}" alt="image de l'article">
                </div>
            {% endif %}
            <div class="post-content">
                <h1>{{post.title}}</h1>
                <p>{{post.content|safe}}</p>
            </div>
        </div>
    </article>
{% endblock%}